<!DOCTYPE html>
<html lang="en">

<head>
  <style>
    .col-lg-4 {
      margin:0 auto;
      text-align: center;
    }
  </style>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <script src="//code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>LoginError</title>

</head>
<div class="col-lg-4">
<!--<br><br>
  <img src="https://is2-ssl.mzstatic.com/image/thumb/Purple128/v4/01/af/0d/01af0d5f-2e83-d411-3bc3-9a44a7d04620/mzl.gcdnshgp.png/246x0w.jpg" width="210" heigth="150" border="10" align="center">
<br><br>-->
<br><br>
<p class="navbar-brand" style="color: white; font-size: 60px; font-weight: bold;">FEMS</p>
<p class="navbar-brand" style="color: gray; font-size: 20px;">Factory Environmental<br>Management System</p><br><br>
<!--<p class="navbar-brand" style="color: gray; font-size: 30px;">LoRa&MQTT</p>-->
</div>
<body class="bg-dark">
  <div class="col-lg-4">
  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">LoginError</div>
      <div class="card-body">
          아이디나 비밀번호가 잘못되었습니다.<br>
          다시 로그인 해주세요.<br><br>
          <button class="btn btn-primary btn-block" type="button" onclick="location.href='http://localhost:3003/auth/login'">돌아가기</button>
      </div>
    </div>
  </div>
  </div>
  <!-- Bootstrap core JavaScript-->
  <!--<script src="vendor/jquery/jquery.min.js"></script>-->
  <!--<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>-->
  <!-- Core plugin JavaScript-->
  <!--<script src="vendor/jquery-easing/jquery.easing.min.js"></script>-->
</body>

</html>
